<!doctype html>
<html lang="en">
  {{>headerLinks}}
  <body>
    <div class="container-fluid main-menu">
        <div class="row my-3">
            <div class="col-md-10 col-12 mx-auto">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="/"><i class="fa fa-snowflake"></i> Hermann's Weather Station <i class="fa fa-snowflake"></i></a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                          <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="weather">Weather</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="about">About</a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Dropdown
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
                  
            </div>
        </div>
    </div>
    <!-- main-header -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main-content">
                    <form class="temp-form">
                        <input type="text" name="" id="city" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn" >
                    </form>
                </div>
                <div class="tempInfo">
                    <div class="topLayer">
                        <p id="day">Thursday</p>
                        <p class="todayDate">26 dec</p>
                    </div>
                    <div class="mainLayer">
                        <p id="city_name" class="cityName">get output here</p>
                        <div class="middleLayer data_hide">
                            <div class="weather-flex">
                            <p class="temp" id="temp"><span>0</span><sup>o</sup>C</p>
                              <p id="temp-status" itemid="temp-status"></p>
                            </div>
                              <img id="weather-icon" src="https://placehold.co/30/000000/FFFFFF.png" alt="Weather Icon"/>

                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
     {{>footer}}
    <script>
        const apiKey = `FJp7vZUZDRghiPrWhgkAcR8kBkxuGXGf`;
        const submitBtn = document.getElementById('submitBtn');
        const city = document.getElementById('city');
        const city_name = document.getElementById('city_name');
        const temp = document.getElementById('temp');
        const temp_status = document.getElementById('temp-status');

        const getInfo = async(event) =>{
            let cityVal = city.value;
            event.preventDefault();
            if(cityVal === ""){
                city_name.innerHTML = "Please enter your city";
            } else{
                try{
                  //API for fetching city Key for fetching weather based on that, and country code
                        let keyUrl = `https://dataservice.accuweather.com/locations/v1/cities/search?q=${cityVal}&apikey=${apiKey}`;
                        const response = await fetch(keyUrl);
                        const data = await response.json();
                        {{!-- console.log(data[0]) --}}
                        const stateCode = data[0].AdministrativeArea.ID;
                        const countryCode = data[0].Country.ID;
                        city_name.innerHTML = `${cityVal}, ${stateCode}, ${countryCode}`;

                  //API for fetchhing weather
                        const cityKey = data[0].Key;
                        let fetchedWeather = `http://dataservice.accuweather.com/currentconditions/v1/${cityKey}?apikey=${apiKey}`;
                        const weatherResponse = await fetch(fetchedWeather);
                        const jsonWeatherData = await weatherResponse.json();
                        console.log(jsonWeatherData);
              
                        const tempValue  = (jsonWeatherData[0].Temperature.Metric.Value);
                        temp.innerHTML = `${tempValue}°C`
                        temp_status.innerHTML = jsonWeatherData[0].WeatherText;
                        const weathericonText = jsonWeatherData[0].WeatherIcon;

                        //Dynamic image integration
                        const customIcons = {};
                        for (let i = 1; i <= 44; i++) {
                          // Ensure two-digit formatting for the icon number
                          const iconNumber = i.toString().padStart(2, '0');
                          customIcons[i] = `https://developer.accuweather.com/sites/default/files/${iconNumber}-s.png`;
                        }

                        const weatherIconText = jsonWeatherData[0].WeatherIcon;

                        if (customIcons[weatherIconText]) {
                          const iconUrl = customIcons[weatherIconText];
                          const weatherIcon = document.getElementById('weather-icon'); // Ensure this matches your HTML element ID

                          if (weatherIcon && weatherIcon.tagName === 'IMG') {
                            weatherIcon.src = iconUrl; // Set the image source dynamically
                          } else {
                            console.error("No valid <img> element found with ID 'weatherIcon'.");
                          }
                        } else {
                          console.log("No matching icon found for the provided WeatherIcon.");
                        }


                      

                }
                catch{
                        city_name.innerHTML = "Please enter correct city name";
                }
              
            }
        }
        submitBtn.addEventListener('click', getInfo);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>