{
  "version": 2,
  "builds": [
    {
      "src": "src/app.js",
      "use": "@vercel/node"
    },
    {
      "src": "templates/views/weather.hbs",
      "use": "@vercel/static"
    }
  ],
  "routes": [
    {
      "src": "/api/weather",
      "dest": "/api/weather.js"
    },
    {
      "src": "/weather",
      "dest": "/src/app.js"
    },
    {
      "src": "/about",
      "dest": "/src/app.js"
    },
    {
      "src": "/",
      "dest": "/src/app.js"
    },
    {
      "src": "/(.*)",
      "dest": "/src/app.js"
    }
  ]
}

