 <footer>
     <div class="accuweather">
          <p>Powered by </p>
          <img src="images/acc.png" width="300px" alt="">
     </div>
      <p id="credit">Made with ❤️ by Harmandeep!</p>
</footer>